@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Josefin+Sans:ital@1&family=Outfit:wght@100..900&display=swap');

body{
  font-family: 'Outfit', sans-serif; 
  font-size: 20px;
}

.home {
  display: flex;
  flex-direction: row; /* Align children side by side */
  align-items: flex-start; /* Align items to the start of the flex direction */
  margin: 20px;
  width: 100%;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  width: 300px; /* Set a specific width */
  align-items: center; /* Center align the tasks */
  margin: 20px; /* Add some margin to separate from the next container */
}

.text-center {
  flex-grow: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
}

.create_form input {
  width: 300px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgb(100, 100, 142); /* Dark green to match the button */
  outline: none;
  color: #4CAF50; /* Green text for contrast */
}

.create_form input, .task {
  font-family: 'Outfit', sans-serif; 
  font-size: 20px;
}

.create_form button {
  padding: 10px;
  background-color: transparent;
  color: rgb(100, 100, 142); /* White text for better visibility */
  cursor: pointer;
  border: none; /* Remove border for a cleaner look */
}

.task {
  display: flex;
  align-items: center;
  width: 345px; /* Adjusted width if needed */
  justify-content: space-between;
  background-color: #FFF; /* Light background for tasks */
  color: black; /* Dark text for readability */
  height: 35px;
  padding: 5px;
  border: 1px solid #DDD; /* Light border for subtle definition */
  margin-top: 5px; /* Slightly more space between tasks */
}

.checkbox {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows text to fill the space */
}

.task .line_through {
  text-decoration: line-through;
}

.task .icon {
  cursor: pointer;
  margin-right: 5px; /* Adjusted spacing */
  font-size: 15px;
}
